.heatmap-square {
  margin: 1px;
  width: 1em;
  height: 1em;
  flex: 0 0 calc(14.2857142857% - 2px);
  border-radius: 25%;
  background: #f8f9fa;
}

.year-title {
  text-align: center;
}

.month {
  display: flex;
  flex-flow: row wrap;
  width: calc(7em + 14px);
}

.heatmap-card-body {
  max-height: 6000px;
  transition: height 0.2s ease-out;
}

.card-outer {
  position: relative;
  overflow: scroll;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column-reverse;
  overflow: hidden;
  max-height: 0px; /* Will be set in js */
  transition: max-height 0.5s ease;
}

.card-inner-inner {
  position: sticky;
  bottom: 0;
}

.week {
  flex-flow: column nowrap;
  display: flex;
  height: calc(5em + 20px);
}

.heatmap-spinner {
  position: absolute;
  left: 50%;
  top: 50%;
}

.btn-circle {
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-circle:hover {
  background: lightgray;
}
.btn-circle:active{
  background: gray;
}